{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=BankDB;Username=postgres;Password=YOUR_PASSWORD_HERE;"
  },
  "Jwt": {
    "Key": "Bu_Proje_Gelistirme_Icin_Kullanilan_Gecici_Bir_Sifredir_12345!",
    "Issuer": "BankaCoreApi",
    "Audience": "BankaWebClient"
  }
}
